<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1">
    <test name="Google Tests">
        <classes>
            <class name="com.example.framework.tests.GoogleHomePageTest"/>
        </classes>
    </test>
</suite>
